* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url(Amazon\ Ember.ttf);
}

body {
    background-color: #E3E6E6;
}

.navbar {
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 113px;
    background-image: url(PngItem_12080.png);
    background-size: 100px 31px;
    background-repeat: no-repeat;
    position: relative;
    top: 12px;
    left: 14px;
}

.nav-logo-border {
    height: 50px;
    width: 113px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    cursor: pointer;
    border-radius: 2px;
}

.nav-address {
    margin-left: 15px;
    padding: 8px;
}

.address1 {
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 18px;
}

.address2 {
    font-size: 0.875rem;
    color: #ffffff;
    margin: 2px;
    font-weight:700;
    line-height: 15px;
}

.nav-address2 {
    display: flex;
}

/* box 3 */

.searchbar {
    color: black;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 795px;
    margin-left: 16px;
}

.search {
    background-color:#febd69;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    border-right: 1px solid #febd69;
    border-top: 1px solid #febd69;
    border-bottom: 1px solid #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #0f1111;
}

.search:hover {
    background-color: #F3A847;
    cursor: pointer;
}

.search:focus {
    border: 2px solid #FF9900;
}

.select-option {
    background-color: #e6e6e6;
    text-align: center;
    width: 52px;
    font-size: 0.78rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #676767;
}

.select-option:hover {
    color: black;
    background-color: #D4D4D4;
    cursor: pointer;
}

.select-option:focus {
    background-color: white;
    border: 2px solid #FF9900;
}

.search-here {
    padding: 10px 505.5px 13px 0px;
    border: none;
    font-size: 0.95rem;
    text-indent: 1ch;
}

/* Box 4 */

.nav-language {
    padding: 15.5px;
    margin-left: 9.5px;
}

/* Box 5 */

.nav-sign-in {
    padding: 9.8px;
    margin-left: 1px;
}

.sign-in {
    font-size: 0.75rem;
}

.account {
    font-size: 0.875rem;
    font-weight:700;
    line-height: 15px;
}

/* Box 6 */

.nav-returns {
    padding: 9.8px;
    margin-left: 4px;
}

/* Box 7 */

.nav-cart {
    font-size: 1.8rem;
    padding: 6.7px;
    margin-left: 12px;
}

.cart0 {
    position: relative;
    right: 10px;
}

.logo-border {
    height: 52px;
    width: 118px;
    border: 1.5px solid transparent;
    position: absolute;
    top: 4px;
    left: 8px;
    border-radius: 2px;
}

.logo-border:hover {
    border: 1.5px solid white;
    cursor: pointer;
}

/* navbar 2 */

.navbar2 {
    height: 40px;
    background-color: #232F3E;
    display: flex;
    align-items: center;
}

/* Box 1 */

.menu {
    color: white;
    font-weight: 700;
    height: 23px;
    display: flex;
    align-items: center;
    padding: 7.5px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 1.25rem;
    gap: 5px;
    margin-left: 9.5px;
}

.menu-content {
    font-size: 0.875rem;
}

/* Box 2 */

.navbar-box-2 {
    color: white;
    height: 23px;
    display: flex;
    align-items: center;
    padding: 7.5px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    font-size: 0.875rem;
    font-weight: 510;
}

/* Box 3 */

.gaming {
    color: white;
    height: 23px;
    display: flex;
    align-items: center;
    padding: 7.5px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    right: 23px;
}

/*  Hero Section */

.hero-section {
    background: url(Hero_image.jpg);
    background-size: cover;
    /* background: linear-gradient(to bottom, rgb(255,208,4), white); */
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.links {
    text-decoration: none;
    color: #007185;
}

.hero-msg {
    background-color: #F5F6F6;
    color: black;
    height: 40px;
    font-size: 0.875rem;
    font-family: 'Amazon Ember';
    width: 97.25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* shop section */

.gradient {
    height: 300px;
    background: linear-gradient(to bottom, rgb(255,208,4), #E3E6E6);
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 420px;
    width: 23.28%;
    background-color: white;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-names {
    width: 97.25%;
    font-size: 21px;
    font-weight: 700;
}

.boxb {
    height: 90%;
    width: 88.25%;
}

.box1-image {
    height: 145px;
    background-image: url(cooker.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 5px;
}

.name1 {
    font-size: 12px;
    position: relative;
    bottom: 0px;
}

.coffeepot {
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 9px;
}

.lol {
    background-size: cover;
    height: 100%;
    width: 32%;
}

.coffee {
    background-image: url(coffee.jpg);
    background-position: center;
}

.pot {
    background-image: url(pots\ and\ p.jpg);
    background-position: center;
}

.kettles {
    background-image: url(kettles.jpg);
    background-position: center;
}

.name2 {
    font-size: 12px;
    /* display: flex; */
    /* justify-content: space-between; */
    position: relative;
    top: 14px
}

.bottom-links {
    font-size: 13px;
    position: absolute;
    bottom: -8px;
    color:#007185;
    text-decoration: none;
}

/* box 2 */

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2-image {
    height: 102.2px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.cleaning {
    height: 100%;
    width: 47.6%;
    background-image: url(CleaningTool_1x._SY116_CB563137408_.jpg);
    background-size: cover;
    background-position: center;
}

.home {
    height: 100%;
    width: 47.6%;
    background-image: url(HomeStorage_1x._SY116_CB563137408_.jpg);
    background-size: cover;
    background-position: center;
}

.box2-image2 {
    height: 102.2px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.homedec {
    height: 100%;
    width: 47.6%;
    background-image: url(HomeDecor_1x._SY116_CB563137408_.jpg);
    background-size: cover;
    background-position: center;
}

.bedding {
    height: 100%;
    width: 47.6%;
    background-image: url(Bedding_1x._SY116_CB563137408_.jpg);
    background-size: cover;
    background-position: center;
}

/* box 3 */

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.kitchen {
    height: 100%;
    width: 47.6%;
    background-image: url(Home_Flip_Summer_2024_315_HP_NewArrivals_QuadCard_D_01_1x._SY116_CB555960040_.jpg);
    background-size: cover;
    background-position: center;
}

.home-imp {
    height: 100%;
    width: 47.6%;
    background-image: url(Home\ improvement.jpg);
    background-size: cover;
    background-position: center;
}

.box3-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.decor {
    height: 100%;
    width: 47.6%;
    background-image: url(decor.jpg);
    background-size: cover;
    background-position: center;
}

.bedding-bath {
    height: 100%;
    width: 47.6%;
    background-image: url(bedding\ &\ bath.jpg);
    background-size: cover;
    background-position: center;
}

/* box 4 */

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.headset {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg);
    background-size: cover;
    background-position: center;
}

.keyboard {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_Quad_Keyboard_1x._SY116_CB667159063_.jpg);
    background-size: cover;
    background-position: center;
}

.box4-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.mouse {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_Quad_Mouse_1x._SY116_CB667159063_.jpg);
    background-size: cover;
    background-position: center;
}

.chair {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_Quad_Chair_1x._SY116_CB667159060_.jpg);
    background-size: cover;
    background-position: center;
}

.text-below-images {
    font-size: 0.75rem;
    position: absolute;
}

.below {
    bottom: 35px;
}

/* shoping area 2 */

.gradient2 {
    height: 420px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    bottom: 5px;
}

.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.jeans {
    height: 100%;
    width: 47.6%;
    background-image: url(DQC_APR_TBYB_W_BOTTOMS_1x._SY116_CB624172947_.jpg);
    background-size: cover;
    background-position: center;
}

.tops {
    height: 100%;
    width: 47.6%;
    background-image: url(DQC_APR_TBYB_W_TOPS_1x._SY116_CB623353881_.jpg);
    background-size: cover;
    background-position: center;
}

.box5-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.dresses {
    height: 100%;
    width: 47.6%;
    background-image: url(DQC_APR_TBYB_W_DRESSES_1x._SY116_CB623353881_.jpg);
    background-size: cover;
    background-position: center;
}

.shoes {
    height: 100%;
    width: 47.6%;
    background-image: url(DQC_APR_TBYB_W_SHOES_1x._SY116_CB624172947_.jpg);
    background-size: cover;
    background-position: center;
}

.text-below-images1 {
    font-size: 0.75rem;
    position: relative;
    bottom: 5px;
}

.bottom-links2 {
    font-size: 13px;
    position: relative;
    top: 20px;
    color:#007185;
    text-decoration: none;
}

/* box 6 */

.box6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.dining {
    height: 100%;
    width: 47.6%;
    background-image: url(DesktopQuadCat_186x116_LP-HP_B08MYX5Q2W_01.23._SY116_CB619238939_.jpg);
    background-size: cover;
    background-position: center;
}

.home2 {
    height: 100%;
    width: 47.6%;
    background-image: url(DesktopQuadCat_186x116_home_B08RCCP3HV_01.23._SY116_CB619238939_.jpg);
    background-size: cover;
    background-position: center;
}

.box6-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.kitchen2 {
    height: 100%;
    width: 47.6%;
    background-image: url(DesktopQuadCat_186x116_kitchen_B0126LMDFK_01.23._SY116_CB619238939_.jpg);
    background-size: cover;
    background-position: center;
}

.health {
    height: 100%;
    width: 47.6%;
    background-image: url(DesktopQuadCat_186x116_health-beauty_B07662GN57_01.23._SY116_CB619238939_.jpg);
    background-size: cover;
    background-position: center;
}

/* box 7 */

.box7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-box {
    height: 303.7px;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 5px;
}

.bankai {
    background-image: url(Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg);
}

.bottom-links3 {
        font-size: 13px;
        position: relative;
        top: 12px;
        color:#007185;
        text-decoration: none;
}

/* box 8 */

.box8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapri {
    background-image: url(XCM_CUTTLE_1650787_3471030_379x304_1X_it_IT._SY304_CB574889756_.jpg);
}

/* shoping area 3 */

.gradient3 {
    height: 281.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5px;
}

.top-picks {
    width: 97.25%;
    height: 281.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.top-picks2 {
    width: 97.25%;
    height: 261.5px;
}

.top-images {
    height: 220px;
    width: 100%;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffee-machine {
    width: 150px;
    height: 200px;
    background-image: url(61CrISbM1OL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.gaming-setup {
    width: 200px;
    height: 200px;
    background-image: url(81cE-gWwzBL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.iphone16 {
    width: 164px;
    height: 200px;
    background-image: url(41e+tgBu8iL._AC_UL320_.jpg);
    background-size: cover;
    background-position: center;
}

.suitcase {
    width: 209px;
    height: 200px;
    background-image: url(71MEXpsg6pL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.moniter {
    width: 270px;
    height: 159.28px;
    background-image: url(715CmIVzeXL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.speaker {
    width: 91px;
    height: 200px;
    background-image: url(71eS4o1jO4L._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

/* shoping area 4 */

/* box 9 */

.box9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.kitchenb {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Kitchen._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

.home3 {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Home_decor._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

.box9-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.diningb {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Dining._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

.smart-home {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Smart_home._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

/* box 10 */

.box10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box10-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.vision {
    height: 100%;
    width: 47.6%;
    background-image: url(Karu_LP_Oculus2.jpg);
    background-size: cover;
    background-position: center;
}

.playstation {
    height: 100%;
    width: 47.6%;
    background-image: url(51ojzJk77qL._AC_UY218_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box10-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.nintendo {
    height: 100%;
    width: 47.6%;
    background-image: url(Karu_LP_Nintendo2.png);
    background-size: cover;
    background-position: center;
}

.xbox {
    height: 100%;
    width: 47.6%;
    background-image: url(71F7q0QnI-L._AC_UY218_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* box 11 */

.box11 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box11-image {
    height: 113.8px;
    width: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.makeup {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Make-up._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

.brush {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Brushes._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

.box11-image2 {
    height: 113.8px;
    width: 100%;
    position: relative;
    top: 7px;
    display: flex;
    justify-content: space-between;
}

.sponge {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Sponges._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

.mirror {
    height: 100%;
    width: 47.6%;
    background-image: url(Fuji_BTF_Quad_Cards_1x_Mirrors._SY116_CB558654384_.jpg);
    background-size: cover;
    background-position: center;
}

/* box 12 */

.box12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watches {
    background-image: url(Fuji_Dash_SmartWatch_1X._SY304_CB639922137_.jpg);
}

/* shopind area 5 */

.cd1 {
    width: 124px;
    height: 200px;
    background-image: url(91L2L7AK5sL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd2 {
    width: 124px;
    height: 200px;
    background-image: url(81gu2dFpntL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd3 {
    width: 124px;
    height: 200px;
    background-image: url(81iJG2js5-S._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd4 {width: 123px;
    height: 200px;
    background-image: url(71Pr9zAYkdL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd9 {
    width: 123px;
    height: 200px;
    background-image: url(71Cgu-PiP6L._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd6 {
    width: 124px;
    height: 200px;
    background-image: url(91LqNrkm6cL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd7 {
    width: 156px;
    height: 200px;
    background-image: url(81291v7LnWL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd8 {
    width: 139px;
    height: 200px;
    background-image: url(71YbMhc-JLL._AC_SY200_.jpg);
    background-size: cover;
    background-position: center;
}

.cd5 {
    width: 174px;
    height: 200px;
    background-image: url(71BWFLW-uxL._AC_UY218_.jpg);
    background-size: cover;
    background-position: center;
}

.footer1 {
    height: 204px;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: 5px;
}

.hr1 {
    position: relative;
    top: 0.2cm;
    width: 97.25%;
    margin: auto;
    border: none;
    background-color: #DDDDDD;
    height: 1.2px;
}

.hr3 {
    border: none;
    background-color: #3A4553;
    height: 1.2px;
    display: flex;
    position: relative;
    z-index: 1;
}

.sign {
    text-align: center;
    font-size: 13px;
}

.new-c {
    font-size: 11px;
    position: relative;
    bottom: 5px;
}

.sign-out {
    font-size: 12px;
    font-weight: 700;
    height: 28px;
    width: 230px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC739;
    border-radius: 4px;
    border: 1.6px solid #E6A400;
    position: relative;
    bottom: 12px;
}

.sign-out:hover {
    background-color: #f3ba2b;
    cursor: pointer;
}

.hr2 {
    border: none;
    background-color: #DDDDDD;
    height: 1.2px;
}

.back-to-top {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475A;
    font-size: 13px;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 3px;
    font-family: inherit;
}

.back-to-top:hover {
    background-color: #485769;
    cursor: pointer;
}

.know-us {
    height: 10.5cm;
    background-color: #232F3E;
    position: relative;
    bottom: 2.55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.know-us ul {
    list-style-type: none;
    line-height: 28px;
    position: relative;
    bottom: 55px;
    font-family: 'Amazon Ember';
}

.know-us a {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 0.875rem;
}

.p1 {
    font-weight: 700;
    font-size: 16px;
}

.know-usb {
    height: 10.5cm;
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.know-us i {
    font-size: 7px;
}

.p2 {
    font-size: 0.875rem;
    position: relative;
    bottom: 10px;
}

.no-list {
    position: relative;
    top: -14px;
}

.no-list1 {
    position: relative;
    top: -85px;
}

.no-list2 {
    position: relative;
    top: 13px;
}

.align {
    position: relative;
    bottom: 9px;
}

.align1 {
    position: relative;
    bottom: 18px;
}

.align2 {
    position: relative;
    bottom: 27px;
}

.align3 {
    position: relative;
    bottom: 36px;
}

.united {
    height: 3.2cm;
    background-color: #232F3E;
    position: relative;
    bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hr3 {
    border: none;
    background-color: #3A4553;
    height: 1.2px;
}

.amazon-logo {
    height: 23px;
    width: 76px;
    background-position: -10px -90px;
    background-repeat: repeat-x;
    background-image: url(all\ icons.png);
    margin-right: 100px;
}

.global {
    width: 10.35cm;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 20px;
    bottom: 6px;
}

.globa1 {
    width: 3.3cm;
    height: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid #848688;
    border-radius: 3px;
    color: #DDDDDD;
}

.globa1 i {
    color: white;
}

.dollar {
    color: white;
}

.trash {
    width: 100%;
    height: 377.844px;
    background-color: #131A22;
    position: relative;
    bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.trashb {
    width: 74%;
    height: 317.844px;
    font-size: 0.75rem;
    color: #999999;
    line-height: 15px;
    display: flex;
    justify-content: space-evenly;
}

.trash1 {
    width: 2cm;
    height: 317.844px;
}

.music {
    display: inline-block;
}

.trash2 {
    width: 2.6cm;
    height: 100%
}

.trash3 {
    width: 2.8cm;
    height: 100%;
}

.trash4 {
    width: 2.6cm;
    height: 100%;
}

.trash5 {
    width: 3.8cm;
    height: 100%;
}

.trash6 {
    width: 2.4cm;
    height: 100%;
}

.trash7 {
    width: 2.9cm;
    height: 100%;
}

.trashb p {
    color: #DDDDDD;
}

.trashb p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.trademark {
    height: 107px;
    width: 100%;
    background-color: #131A22;
    position: relative;
    bottom: 4px;
    font-size: 12px;
    color: #DDDDDD;
    line-height: 20px;
}

.trademark pre {
    text-align: center;
    position: relative;
    top: 38px;
}

.trademark a {
    color:#DDDDDD;
    text-decoration: none;
}

.trademark a:hover {
    text-decoration: underline;
}

.right {
    width: 29px;
    height: 14px;
    background-image: url(all\ icons.png);
    background-position: -136px -380px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.pointer:hover {
    cursor: pointer;
}

.hero-msg a:hover {
    color: #CF511F;
    text-decoration: underline;
}

.gradient a:hover {
    color: #CF511F;
}

.gradient2 a:hover {
    color: #CF511F;
}

.gradient4 a:hover {
    color: #CF511F;
}

.links:hover {
    color: #CF511F;
}
